*{
    margin: 0;
    padding: 0;
    font-family: poppines;
    font-style: normal;
    font-weight: 400;
}

html,body{
    overflow-x: hidden;
}


.scrollable-container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

#tag{
    width: 230px;
    height: 46px;
    background: #FDECEC;
}


.P5{
    color: #676767;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.09px;
}


.text1{
color: #2E2E2E;
font-family: Poppins;
font-size: 74px;
font-style: normal;
font-weight: 700;
line-height: 88px; 
letter-spacing: -0.74px;
}

.text1 span{
color: #F54748;
font-family: Poppins;
font-size: 74px;
font-style: normal;
font-weight: 500;
line-height: 88px;
letter-spacing: -3.7px;
}

.btn {
    color: white;
    background: #F86061;
    padding: 15px 30px;
    border-radius: 15px;
}


.search{
    width:180px
}

.nav-link{
 color: #000000;
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.cart2{
    margin-top: -30px;
}

.card2{
    margin-top: -300px;
    margin-left: 400px;
    border-radius: 10px;
}

.arrow{
    margin-top: -70px;
    margin-left: 400px;
}


.services{
    background: #FEF5F5;
}


/* ---------------------------service1------------------------- */

#Service1{
width: 300px;
height: 350px;
flex-shrink: 0;
position: relative;
transition: 0.5 ease-in;
}


.bg{
    position: absolute;
    width: 300px;
    height: 350px;
    background-color: #fe6a6a;
    display: none;
   
}

.mini_div{
    position: absolute;
    width:300px;
    height: 350px;
    z-index: 5;
    left: 0PX;
    top: 0PX;
    z-index: 9;
}


#service1:hover .bg{
    display: block;
    transform: rotate(-3deg);
}

/* --------------------services2--------------------------- */

.title1{
color: #2E2E2E;
font-family: Poppins;
font-style: normal;
font-weight: 700;
line-height: 50px; 
letter-spacing: -0.74px;

}

#choose{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card3{
    height: 230px;
    margin-top: -180px;
    margin-left: -180px;
    border-radius: 10px;

}

.section{
    margin-top: 50px;
   width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#card4{
    width:160px;
    height: 200px;
    margin-right:-380px;
   margin-top: 250px;
    border-radius: 10px;
}

.sub{
color: #676767;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
}

.buttons{
    gap:25px;
}

.footer{
   
    margin-top: 150px;
}

.footer p,a{
color: #747474;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
}

.per{
    width:100%;
}




